beautifulsoup4==4.8.1
boto3==1.10.26
botocore==1.13.26
Flask==1.1.1
Flask-RESTful==0.3.7
gitdb2==2.0.6
GitPython==3.0.5
hyperdash==0.15.3
jedi==0.15.1
Jinja2==2.10.3
matplotlib==3.1.1
numpy==1.17.3
pickleshare==0.7.5
python-slugify==4.0.0
pytorch-transformers==1.1.0
PyYAML==5.1.2
regex==2019.11.1
requests==2.22.0
s3transfer==0.2.1
scipy==1.3.3
sentence-transformers==0.2.3
text-unidecode==1.3
torch==1.3.1+cpu
torchvision==0.4.2+cpu
Unidecode==1.1.1
urllib3==1.25.7
